.container1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-image: url("./../res/images/bg.jpeg") repeat-x;
  background-size: 100% 100%;
  object-fit: cover;
}
.sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: rgb(78, 9, 117);
  border-top-right-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  box-shadow: 10px 0 8px #888888;
}
img {
  display: block;
}
.profile {
  width: 30%;
  height: 30%;
  margin-left: 30%;
}
.name1 {
  font-size: 1.2vw;
  color: white;
  margin-left: 31%;
  margin-bottom: 7%;
}
.shadow {
  background-color: #06062b;
  padding-left: 1rem;
  font-size: 1.8vw;
  color: white;
  border-radius: 1em;
  margin-left: 2%;
  margin-bottom: 1rem;
  margin-right: 2%;
}
.name2 {
  font-size: 2vw;
  color: white;
  margin-bottom: 1rem;
  margin-left: 17%;
}
.accounting {
  width: 50%;
  height: 50%;
  margin-left: 20%;
}
.aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.block1 {
  display: flex;
  flex-direction: row;
}
.logout {
  width: 3%;
  height: 3%;
  margin-left: 90%;
  margin-top: 2.5%;
}
.logoutext {
  color: black;
  margin-top: 2.8%;
  margin-left: 0.3rem;
  font-size: 1.5vw;
}
.block2 {
  margin-left: 22.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hackathon {
  background-color: white;
  width: 77%;
  height: 30%;
  border-radius: 2rem;
  box-shadow: 0px 0px 2px 2px black;
  margin-top: 6rem;
  margin-left: 22%;
  margin-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.active-box {
  width: 180%;
  font-size: 1.9vw;
  color: black;
  box-shadow: 0px 0px 2px 2px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  text-align: center;
  margin-right: 8%;
  background-color: blue;
}
.boxone {
  width: 180%;
  background-color: white;
  font-size: 1.9vw;
  color: black;
  box-shadow: 0px 0px 2px 2px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  text-align: center;
  margin-right: 8%;
}
h2 {
  font-size: 1.6vw;
  font-weight: 400;
  margin-left: 2%;
}
.rest1 {
  width: 55%;
  height: 1.8rem;
  margin-left: 2.3%;
  margin-bottom: 2%;
  border-radius: 1.3rem;
  border: 1px solid;
  padding-left: 8px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px black;
}

.rest1:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
.date {
  display: flex;
  flex-direction: row;
}
.date1 {
  width: 50%;
}
.date2 {
  width: 50%;
  margin-left: 17%;
}
.date11 {
  font-size: 1.6vw;
  margin-left: 4%;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.rest {
  width: 79%;
  height: 1.8rem;
  margin-bottom: 2%;
  margin-left: 5%;
  border-radius: 1.3rem;
  border: 1px solid;
  padding-left: 8px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px black;
}

.rest:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
.calendar {
  width: 6%;
  height: 6%;
  margin-left: 1%;
}

.urlbox {
  width: 50%;
  height: 1.8rem;
  margin-left: 2.3%;
  margin-bottom: 2%;
  border-radius: 1.3rem;
  border: 1px solid;
  padding-left: 8px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px black;
}

.urlbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}

.abtbox {
  width: 90%;
  height: 5.4rem;
  margin-left: 2.3%;
  margin-bottom: 2%;
  border-radius: 1.3rem;
  border: 1px solid;
  padding-left: 8px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px black;
}

.abtbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
.im {
  display: flex;
  flex-direction: row;
}

.imgbox {
  width: 55%;
  height: 1.8rem;
  margin-left: 2.3%;
  margin-bottom: 2%;
  border-radius: 1.3rem;
  border: 1px solid;
  padding-left: 8px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px black;
}

.imgbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
.image {
  width: 3%;
  height: 3%;
  margin-left: 1%;
}
.picture {
  display: inline-block;
  width: 10%;
  height: 10%;
  margin-left: 6%;
}
.save {
  width: 20%;
  background-color: rgb(6, 6, 43);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5vw;
  color: white;
  border-radius: 1em;
  margin-right: 2%;
  margin-top: 4%;
  text-align: center;
  float: right;
}

.option {
  display: inline-flex;
  position: relative;
  font-size: x-large;
  height: 12.5%;
  width: 50%;
  padding-left: 35px;
  margin-bottom: 12px;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #cbe2ff;
}

.option:hover input ~ .checkmark {
  background-color: #ccc;
}

.option input:checked ~ .checkmark {
  background-color: #cbe2ff;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .option input {
  background-color: #cbe2ff;
  margin: 1ch;
} */