.container1{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: url('./bg.jpeg') repeat-x;
    background-size: 100% 100%;
    object-fit: cover;
}
.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(78, 9, 117);
    border-top-right-radius:1.2em ;
    border-bottom-right-radius: 1.2em;
    box-shadow: 10px 0 8px #888888;
}
img{
    display: block;
}
.profile{
    width: 30%;
    height: 30%;
    margin-left: 30%;
}
.name1{
    font-size:1.2vw;
    color: white;
    margin-left: 31%;
    margin-bottom: 7%;
}
.shadow{
    background-color: rgb(6, 6, 43);
    padding: 1rem;
    font-size: 1.8vw;
    color: white;
    border-radius: 1em;
    margin-left: 2%;
    margin-bottom: 1rem;
    margin-right: 2%;
}
.name2{
    font-size: 2vw;
    color: white;
    margin-bottom: 1rem;
    margin-left: 17%;
}
.accounting{
    width: 50%;
    height: 50%;
    margin-left: 20%;
}
.aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.block1{
    display: flex;
    flex-direction: row;
}
.logout{
    width:3%;
    height:3%;
    margin-left: 90%;
    margin-top: 2.5%;
    margin-bottom: 5rem;
}
.logoutext{
    color: black;
    margin-top: 2.8%;
    margin-left: 0.3rem;
    font-size: 1.5vw;
}
.u1{
    display: flex;
    flex-direction: row;
}
.email{
    margin-left: 25%;
    margin-top: 8%;
    width: 10%;
    height: 10%;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin-bottom: 1%;
}
.whatsapp{
    margin-left: 5%;
    margin-top: 8%;
    width: 10%;
    height: 10%;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin-bottom: 1%;
}
.businessmen{
    margin-left: 5%;
    margin-top: 8%;
    width: 10%;
    height: 10%;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin-bottom: 1%;
}